:root {
  --blue: #2196f3;
  --black: #212121;
  --gray: #757575;
  --white: #ffffff;
  --dark-gray: #2f303a;
  --whitesmoke: #f5f4fa;
  --whitegray: rgba(255, 255, 255, 0.6);
  --main-font: "Roboto", sans-serif;
  --secondary-font: "normal", sans-serif;
}
body {
  font-family: Roboto;
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 130px;
  padding-bottom: 130px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
​.header {
  background: var(--white);
}
.link-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.link-logo span {
  color: var(--black);
}

.list-menu {
  color: var(--black);
}
.link-studio {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.link-studio:hover,
.link-studio:focus {
  color: var(--blue);
}

.link-portfolio {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #212121;
}

.link-portfolio:hover,
.link-portfolio:focus {
  color: var(--blue);
}

​.link-portfolio .link:hover,
.link-portfolio .link:focus {
  color: var(--blue);
}
.link-contacts {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #212121;
}
.link-contacts:hover,
.link-contacts:focus {
  color: var(--blue);
}
.active {
  color: #2196f3;
}

.header-mail {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.header-mail:hover,
.header-mail:focus {
  color: var(--gray);
}
.header-tel {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #757575;
}
.header-mail:hover,
.header-tel:focus {
  color: var(--blue);
}
.hero {
  background: var(--dark-gray);
}
.title-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.button {
  background: var(--blue);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white);
}
.button:hover,
.button:focus {
  color: var(--white);
  background: var(--blue);
}

.about {
  width: 1170px;
  height: 101px;
  left: 215px;
  top: 774px;
  display: flex;
}

.description-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--black);
}

.description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: var(--gray);
}

.about-us {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--black);
}

​ .section-team {
  background: var(--whitesmoke);
}
.our-team {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--black);
}
.names {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--black);
}
.team-name-prof {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  letter-spacing: 0.03em;
  color: var(--gray);
}

.page-footer {
  background: var(--dark-gray);
}

.footer-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.footer-logo-first {
  color: var(--blue);
}

.footer-logo-second {
  color: #ffffff;
}
.adress-footer {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: var(--white);
}

.adress-footer:hover {
  color: var(--blue);
}

.mail-footer {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--whitegray);
}

.mail-footer:hover {
  color: var(--blue);
}
.tel-footer {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: var(--whitegray);
}
.tel-footer:hover {
  color: var(--blue);
}

.portfolio-name {
  clip: rect(1px, 1px, 1px, 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.button-portf {
  background: var(--whitesmoke);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--black);
}

.button-portf:hover,
.button-portf:focus {
  color: var(--white);
  background: var(--blue);
}
​ .port-item {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  color: #212121;
}
.project-description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #757575;
}

​ .address-footer {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #ffffff;
}
